* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgba(29, 36, 232, 0.445);
    padding: 15px;
}

header nav a {
    margin-right: 15px;
    margin-top: 20px;


}

header nav {
    text-align: center;
}

aside {
    float: left;
    background-color: aqua;
    width: 14%;
    padding: 0;
    text-align: center;
}

main {
    width: 85%;
    display: inline-block;
    padding: 10px;


}
img{
    display: inline-block;
}
form{
    display:inline-block
}
main h2,
p {
    text-align: unset
}

footer {
    padding: 15px;
    background-color: brown;
    text-align: center;
    width: 100%;
    float: left;
}

header h1 {
    text-align: center;
    color: brown;

}

aside ul li {
    border: solid green 5px;
    white-space: 20px;
    font-size: large;
}

aside ul li {
    height: 190px;
}
.sub{
    width: 100px;
    text-align: center;
    height: 25px;
    }
@media (max-width:600px) {
aside , main , img , form{
    width: 100%;
    text-align: center;
}
@media (max-width:600px){
    .sub{
        width: 150px;
        height: 35px;
        text-align: center;
}
}
@media (max-width:600px){
    img{
        margin-top: 5px;
    }
}
}

.about{
    text-align: center;
}